.header{
  padding: 60px;
  text-align: center;
  background-color: rgb(190, 236, 201);
  color: rgb(84, 84, 84);
  font-size: 40px;
}

body{
  font-family: 'Courier Prime', monospace;
  scrollbar-width: 0;
}

.image-container{
  text-align: right;
}

.checklist{
  font-size: 1px;
  margin-left: 15%;
  text-align: left;
  font-size: xx-large;
  padding-bottom: 5%;
}

input.largerCheckBox{
  width: 20px;
  height: 20px;
}

.container{
  text-align: right;
}

.modal-dialog{
    width: 90%;
    align-items: center;
    height: 65%;
}

         
.btn-grad1 {
    align-self: center;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
           
  .btn-grad2 {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-grad3 {
    font-size: 25px;
    background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad3:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

           
  .btn-grad4 {
    font-size: 25px;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad4:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c3c3c;
    overflow-x: hidden; /* disable horizantal scroll */
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #b9b5b5;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
  }