.header{
    padding: 60px;
    text-align: center;
    background-color: rgb(190, 236, 201);
    color: rgb(84, 84, 84);
    font-size: 40px;
}

body{
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
}

.image-container{
  text-align: right;
}

.checklist{
  margin-left: 15%;
  text-align: left;
  font-size: xx-large;
  padding-bottom: 50%;
}

input.largerCheckBox{
  width: 26px;
  height: 26px;
}

.container{
  text-align: right;
}

.modal-dialog{
    width: 90%;
}

         
.btn-grad1 {
    align-self: center;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
           
  .btn-grad2 {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 