.header{
  text-align: center;
  background-color: rgb(190, 236, 201);
  color: rgb(84, 84, 84);
  font-size: 40px;
  margin: -50px;
}

#notificationButton{
  font-size: 30px;
  scale: 1.5;
}

#notificationLabel{
  font-size: 30px;
  margin-right: 40px;
}

#disableNotificationLabel{
  font-size: 30px;
}

#disableNotificationButton{
  font-size: 30px;
  scale: 1.5;
}

section{
  display: inline-block;
  margin: 0 1.5%;
}

body{
  font-family: 'Courier Prime', monospace;
  overflow: hidden;
}

.image-container{
  text-align: left;
  margin-right: 100px;
}

.checklist{
  margin-left: 15%;
  text-align: left;
  font-size: xx-large;
  padding-bottom: 5%;
}

input.largerCheckBox{
  width: 26px;
  height: 26px;
}

.container{
  text-align: right;
}

.modal-dialog{
    width: 90%;
}

.btn-grad1 {
    align-self: center;
    background-image: linear-gradient(to right, #4CB8C4 0%, #3CD3AD  51%, #4CB8C4  100%);
    text-align: center;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


  .btn-grad2 {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


  .btn-grad3 {
    font-size: 25px;
    background-image: linear-gradient(to right, #43cea2 0%, #185a9d  51%, #43cea2  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad3:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }


  .btn-grad4 {
    font-size: 25px;
    background-image: linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad4:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .sidenav{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3c3c3c;
    overflow-x: hidden; /* disable horizantal scroll */
    padding-top: 60px;
    transition: 0.5s;
  }

  .sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #b9b5b5;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover{
    color: #f1f1f1;
  }

  .sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 55px;
    margin-left: 50px;
  }

  .main-content {
    display: flex;
    justify-content: space-between;
}

.checklist {
  flex: 1;
  margin-right: 10px;
}

.image-container {
  flex: 1;
  max-width: 900px;
  text-align: center;
  margin-top: px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.image-container p{
  font-size: 35px;
}